<!DOCTYPE html> {% load static %}
<html lang="en">

<head>

    <head charset="utf-8">
        <title>HTML</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>

    <body>





        <h1>da</h1>

        <h1>da</h1>

        <h1>da</h1>
        <p>Welcome to HTml</p>
        <!--heading Tag-->
        <h1>dada </h1>
        <h2>baba</h2>
        <h3>ami nije</h3>
        <h4> sontan</h4>
        <h5>nati</h5>
        <h6>natir sontan</h6>
        <!--end heading tag-->

        <!--start paragraph tag-->
        <p>A quick <mark>brown fox</mark> <b>jumps</b> over the <small>lazy</small> <strong>dog</strong></p>

        <p> Previous price <del>300</del> instant price <ins> 270</ins></p>

        <p> <abbr title="aiquest.org">ai</abbr></p>

        <p>(a+b)<sup>2</sup> = a<sup>2</sup>+2ab+b<sup>2</sup></p>
        <p>H<sub>2</sub>O</p>




        <!--end paragraph tag-->

        <!--start pre tag-->
        <p> aiquest study mart django


        </p>
        <div [hidden]="condition">
            <pre>
            
        
        ai 
        qu
         est
    </pre>

        </div>

        <p>
            <pre>
            aiquest 
                           studymart
                                            django
        </pre>
        </p>
        <!--end pre tag-->



        <!-- start span tag-->
        <P>
            Wellcome to <span style="color:blue;">HTML</span>

        </P>


        <!-- end span tag-->


        <!-- start href tag-->
        <h1>

            <a href="https://www.aiquest.org"> <span style="color:brown">aiquest</span>
            </a>
        </h1>
        <!-- end href tag-->

        <!--un order list-->
        <ul style="list-style-type:circle">
            <li>Tea</li>
            <li>Coffee</li>
            <li>chola muri</li>
        </ul>

        <!--start order list tag-->
        <ol start="50">
            <li>Blog</li>
            <li>Free course</li>
            <li>contact</li>
        </ol>


        <!--end order list-->

        <!--start list unorder tag-->
        <ul style="list-style-type:square;">
            <!--ul style="list-style-type:square"-->
            <li>home</li>
            <li>res</li>
            <li>career</li>
        </ul>
        <!-- end list unorder tag-->



        <!--start list form tag-->
        <form action="">
            <label>Enter your first name  name</label>
            <input type="text" placeholder="Enter first name"><br><br>
            <label>Enter your email</label>
            <input type="email" name="" id="" placeholder="Enter your email"><br><br>
            <label>Enter your passwoard</label>
            <input type="password" name="" id="" placeholder="Enter your password"><br><br>

            <!--start radio tag(for male and female)-->
            <input type="radio" name="gender" id="">Male <br>
            <input type="radio" name="gender" id="">Female <br>
            <input type="radio" name="gender" id="">others <br>
            <!-- end radio tag-->


            <!--start check box-->
            <label for="">checkbox</label>
            <input type="checkbox" name="" id="">Django
            <input type="checkbox" name="" id="">machine learning
            <input type="checkbox" name="" id="">DL
            <input type="checkbox" name="" id="">AI<br>


            <!--end cjeck box-->


            <!--input file tag-->
            <input type="file" name="" id=""><br><br>

            <input type="submit" value="submit"><br><br>

            <input type="reset" value="Reset"><br><br>
            <input type="number" name="input number" id="input number"><br><br>
            <input type="date" name="" id=""><br><br>
            <!-- end file tag-->


            <!-- start table tag-->
            <table width="700" border="2px" align="center" cellspacing="10">
                <tr>
                    <th>Teacher's name</th>
                    <th>course name</th>
                    <th>Total class</th>
                    <th>Duration</th>
                </tr>
                <tr>
                    <td>Rasedul Islam</td>
                    <td>machine learning</td>
                    <td>22</td>
                    <td>3 month</td>
                </tr>
                <tr>
                    <td>Rasedul Islam</td>
                    <td>machine learning</td>
                    <td>22</td>
                    <td>3 month</td>
                </tr>
                <tr>
                    <td>Rasedul Islam</td>
                    <td>machine learning</td>
                    <td>22</td>
                    <td>3 month</td>
                </tr>
            </table>
            <!-- end table tag-->



            <div class="cselctor">
                class selector

            </div>


            <p id="idtag">
                This is id tag
            </p>


            <p class="textfield">
                The Internet of Things (IoT) has enabled the development of innovative solutions in various fields, and one of the promising applications is in the area of microorganism particle filtration. In this study, an IoT-based system for microorganism particle
                filtration and efficiency testing was developed. The system uses a microorganism particle filtration device equipped with sensors and actuators that enable real-time monitoring and control of the filtration process. The IoT platform allows
                for remote monitoring and data collection, which can be used to optimize the filtration efficiency and reduce operating costs.

            </p>


            <div class="margin">
                <div class="padding">
                    <p>microbotics</p>
                </div>
            </div>

            <img src="{% static 'image/>R.png' %}" alt="">










</head>
</body>

</html>